.move {
    height: 50%;
    font-weight: bold;
    padding-top: .5rem;
    padding-left: 1rem;
}

.move:first-child {
    border-bottom: 2px solid black;
}

.desc {
    font-weight: 500;
    font-size: 12px;
}